@charset "utf-8";
@import "normalize";

body {
  padding: 1rem;
}

th {
  vertical-align: top;
  padding-right: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

td {
  padding-right: 1rem;
}

tr.verse-lyrics-line--last, tr.verse-lyrics-line--space {
  td {
    padding-bottom: 1rem;
  }
}

.chords {
  white-space: nowrap;
  vertical-align: top;
}
